.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.home-who {
  width: 100%;
  height: 737px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text01 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-danger-700);
}
.home-text04 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text05 {
  color: var(--dl-color-gray-black);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card1 {
  width: 30%;
  height: 301px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.home-text12 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text13 {
  color: var(--dl-color-gray-black);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-service-card2 {
  width: 30%;
  height: 301px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-700);
}
.home-text21 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text22 {
  color: var(--dl-color-gray-black);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-projects {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 53px;
  flex-direction: column;
}
.home-text28 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card {
  width: 30%;
  height: 279px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-danger-700);
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text31 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-features-card01 {
  width: 30%;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-300);
}
.home-text-container01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading01 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text36 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-features-card02 {
  width: 30%;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-success-700);
}
.home-text-container02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading02 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text40 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-cards-container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card03 {
  width: 30%;
  height: 279px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #6f410b;
}
.home-text-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading03 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text45 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-features-card04 {
  width: 30%;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #ad22c2;
}
.home-text-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading04 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text50 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-features-card05 {
  width: 30%;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-500);
}
.home-text-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading05 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text57 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-projects1 {
  width: 100%;
  height: 1182px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 53px;
  flex-direction: column;
  background-color: #101010;
}
.home-text58 {
  color: var(--dl-color-gray-white);
  height: 81px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card06 {
  width: 407px;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-300);
}
.home-text-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading06 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text64 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-image {
  width: 823px;
  height: 278px;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 277px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-features-card07 {
  width: 407px;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: var(--dl-color-success-700);
}
.home-text-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading07 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text71 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-image1 {
  width: 723px;
  height: 208px;
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: cover;
  margin-left: 160px;
  margin-right: 75px;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 277px;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  justify-content: center;
}
.home-features-card08 {
  width: 407px;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: #c705ff;
}
.home-text-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading08 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text81 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-image2 {
  width: 723px;
  height: 208px;
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: cover;
  margin-left: 160px;
  margin-right: 75px;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-projects2 {
  width: 100%;
  height: 663px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 53px;
  flex-direction: column;
  background-color: #101010;
}
.home-text86 {
  color: var(--dl-color-gray-white);
  height: 81px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-cards-container4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card09 {
  width: 407px;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-300);
}
.home-text-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading09 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text87 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-text89 {
  color: var(--dl-color-gray-black);
}
.home-features-card10 {
  width: 407px;
  height: 277px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  background-color: #a60e9d;
}
.home-text-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading10 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text92 {
  color: var(--dl-color-gray-black);
  text-align: left;
}
.home-links {
  width: 100%;
  height: 332px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  background-image: url('https://img.freepik.com/premium-photo/glowing-shimmering-stars-space-abstract-background_250994-1378.jpg');
}
.home-heading-container4 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text95 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text96 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-cards-container5 {
  width: 859px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 72px;
  flex-direction: row;
  justify-content: space-between;
}
.home-links1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-name {
  color: var(--dl-color-primary-500);
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline   none;
}
.home-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-name1 {
  color: var(--dl-color-primary-500);
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline none;
}
.home-team-card1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.home-name2 {
  color: var(--dl-color-primary-500);
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline none;
}
.home-footer {
  width: 100%;
  height: 165px;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image3 {
  width: 63px;
  height: 75px;
  object-fit: cover;
}
.home-text97 {
  color: var(--dl-color-gray-900);
}
@media(max-width: 1200px) {
  .home-service-card1 {
    height: 328px;
  }
  .home-service-card2 {
    height: 329px;
    margin-bottom: 0px;
  }
  .home-features-card {
    height: 226px;
  }
  .home-features-card01 {
    height: 225px;
  }
  .home-features-card02 {
    height: 224px;
  }
  .home-features-card03 {
    height: 226px;
  }
  .home-features-card04 {
    height: 225px;
  }
  .home-features-card05 {
    height: 224px;
  }
  .home-features-card06 {
    height: 225px;
  }
  .home-features-card07 {
    height: 225px;
  }
  .home-features-card08 {
    height: 225px;
  }
  .home-features-card09 {
    height: 225px;
  }
  .home-features-card10 {
    height: 225px;
  }
}
@media(max-width: 991px) {
  .home-text05 {
    color: var(--dl-color-gray-700);
  }
  .home-text13 {
    color: var(--dl-color-gray-700);
  }
  .home-text22 {
    color: var(--dl-color-gray-700);
  }
  .home-cards-container5 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card2 {
    width: 65%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card01 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card02 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-cards-container2 {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card03 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card04 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card05 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-cards-container3 {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card06 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card07 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card08 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-cards-container4 {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card09 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card10 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container4 {
    width: 100%;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text97 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-who {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-service-card {
    width: 100%;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-projects {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features-card {
    width: 100%;
  }
  .home-features-card01 {
    width: 100%;
  }
  .home-features-card02 {
    width: 100%;
  }
  .home-features-card03 {
    width: 100%;
  }
  .home-features-card04 {
    width: 100%;
  }
  .home-features-card05 {
    width: 100%;
  }
  .home-projects1 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features-card06 {
    width: 100%;
  }
  .home-features-card07 {
    width: 100%;
  }
  .home-features-card08 {
    width: 100%;
  }
  .home-projects2 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features-card09 {
    width: 100%;
  }
  .home-features-card10 {
    width: 100%;
  }
  .home-links {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text95 {
    text-align: center;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text97 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
