body {
    background-image: url("https://raw.githubusercontent.com/BLUEAMETHYST-Studios/website-resources/main/web_bg.png");
    background-size: 2500px 2500px;
}

h1 {
    border-radius: 20px;
    border-style: ridge;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
    font-family: monospace;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.5);
}

h1:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

p {
    border-radius: 20px;
    margin-top: 7%;
    margin-right: 20%;
    color: blue;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 45px;
    font-family: monospace;
}

p:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

img {
    margin-top: 30%;
    margin-left: 15%
}

img:hover {
    opacity: 0.95;
    transform: scale(0.95);
}
